---
interface Props {
  category: string;
}

const { category } = Astro.props;
---

<span class="text-sm text-premium-gray font-medium group-hover:text-premium-blue transition-colors duration-300 mr-2">
  #{category.toLowerCase().replace(/\s+/g, '')}
</span> 